* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a {
    text-decoration: none;
    font-family: Bely-display;
    color: black;
}

a:visited {
    color:black;
}

#navbar {
    overflow: hidden;
    margin-bottom: 10vh;
    position: fixed;
    top: 0;
    width:100vw;
    z-index: 100;
    height:8vh;
    background: white;
    color: #848484;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    margin-top: 2vh;
    width: 38vw;
}

#sidebar {
    position: fixed;
    background-color: black;
    color: white;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0vh;
    left: -75vw;
    z-index: 101;
    transition: .2s;
}

#sidebar.active {
    height: 100vh;
    position: fixed;
    top: 0vh;
    left: 0vw;
    animation: sidebar 1s ease 0s 1 normal forwards;
    background-color: black;
}




@keyframes sidebar {
    0% {
      opacity: 0;
      transform: translateX(-75vw);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

#sidebar a {
    color:white;
    font-size: 5rem;
}

#sidebar.active a {
    color:white;
    font-size: 5rem;
    animation: sidebar2 1.5s ease 0s 1 normal forwards;
    font-family: Bely-display;
}

#sidebar.active .btn {
    position: fixed;
    right: 65vw;
    top: 2vh;
}

#sidebar.active span {
    background:white;
}

@keyframes sidebar2 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

#sidebar ul {
    list-style: none;
    justify-content: center;
    align-items: center;
}

#sidebar li {
    padding: 5vh;
}

#sidebar li img {
    width: 8vw;
    position: relative;
    left: 13vw;
}

#sidebar a:visited {
    color: white;
}

#sidebar .btn {
    position:fixed;
    top: 2vh;
    right: 90vw;
    z-index: 102;
}

.btn span {
    width: 7vw;
    height: 0.4vh;
    background: black;
    display: block;
    margin-top: 0.75vh;
    border-radius: 10vh;
}

main {
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8vh;
    position: relative;
    overflow: hidden;
    position: relative;

}

#listing {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(25, 35vh);;
}

  
/* Listing */

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: auto;
    margin-top: 5vh;

}

@media only screen 
and (min-width : 480px) {

.article:nth-child(odd) {
    position: relative; 
   left: 10vw;
   grid-column: 1/2;
   margin-right:20vw;
}

.article:nth-child(even) {
    position: relative;
    right: -10vw;
   grid-column: 2/2;
}
}


.article img {
    width: 45vw;
}

.infos {
    position: relative;
    margin-top: 1vh;
    left: -8.5vw;
    height: 2vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.infos p{
    position:relative;
    margin-top: 1vh;
    left: 0;
    width: 26vw;
    text-align: left;
}

.infos h3{
    position: relative;
    left: 32vw;
    top: -2.5vh;
    width: auto;
}

/* PAGE RECHERCHE */

#search {
    margin-bottom: 5vh;
}

#search input {
    width: 50vw;
    height: 5vh;
    font-size: 3vw;
    border-radius: 20vw;
    text-align: center;
}

#prix {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    justify-content: center;
    align-items: center;
}

#prix input {
    margin-bottom: 2vh;
    font-size: 3vw;
    border-radius:10vw;
    height:4vh;
    width: 30vw;
    text-align: center;
}

form {
    font-size: 1vw;
}

input[type="text"] {
    width: 10vw;
}

#filtres {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    font-size: 10vw;
}

#formcolor {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

#colorpicker {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -4vw;
}

label {
    font-size: 6vw;
}

#formcolor label {
    font-size: 6vw;
}

#colorpicker input {
    position: relative;
    left: -1vw;
    margin-left: 4vw;
    margin-top: 4vh;
    width: 8.5vw;
    height: 8.5vw;
}


#colorpicker img {
    width: 4vw;
    padding: 1vw;
    border-radius: 30vw;
}

.color {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.color input {
    margin: 1vw;
}

.color:nth-child(1) {
    background-image: url("couleurs/beige.jpg");
}

.color:nth-child(2) {
    background-image: url("couleurs/blanc.jpg");
}

.color:nth-child(3) {
    background-image: url("couleurs/bleuciel.jpg");
}

.color:nth-child(4) {
    background-image: url("couleurs/gris.jpg");
}

.color:nth-child(5) {
    background-image: url("couleurs/jaune.jpg");
}

.color:nth-child(6) {
    background-image: url("couleurs/lilas.jpg");
}

.color:nth-child(7) {
    background-image: url("couleurs/navy.jpg");
}




.color:checked {
    box-shadow: #90d4a1 0px 5px 10px;
    transition: 0.2s;
}

.department {
    width: 5em;
    height: 5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: left;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.department:checked {
    background-color: #90d4a1;
    transition:0.2s;
}

#formcategory {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    font-size: 6vw;
}

.categoryrow {
    display: flex;
    text-align: left;
    justify-content:start;
    align-items: center;
    width: 10vw;
    margin-bottom: 5vh;
    position: relative;
    left: -15vw;
}

.categoryrow label{
    margin-left: 3vw;
    margin-bottom: 5vh;
    width: 3vw;
    height: 3vw;
    font-size: 4.5vw;
}

.categoryrow input {
    width: 3vw;
    height: 3vw;
}

#formsize {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

/* LAPTOP */ 

@media only screen 
and (min-width : 1224px) {
    #navbar {
        height:7vh;
        background: white;
        color: black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        margin-top: 1vh;
        width: 10vw;
    }

    #sidebar {
        position: fixed;
        background-color: white;
        color: white;
        width: 15vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: -15vw;
        transition: .2s;
    }

    #sidebar.active {
        left: 0vw;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        animation: sidebar 1s ease 0s 1 normal forwards;
    }

    @keyframes sidebar {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

    #sidebar a {
        color:white;
        font-size: 2rem;
    }

    #sidebar.active a {
        color:white;
        font-size: 2rem;
        animation: sidebar2 1.5s ease 0s 1 normal forwards;
        font-family: Bely-display;
        transition:0.3s;
    }

    #sidebar.active a:hover {
        color: #90d4a1;
        transition: 0.3s;
    }


    @keyframes sidebar2 {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }

    #sidebar ul {
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    #sidebar li {
        padding: 5vh;
    }

    #sidebar li img {
        width: 3vw;
        position: relative;
        left: 3vw;
    }

    #sidebar a:visited {
        color: black;
    }

    .btn span {
        width: 2vw;
        height: 0.4vh;
        background: black;
        display: block;
        margin-top: 0.75vh;
        border-radius: 10vh;
    }
    
    #sidebar .btn {
        position: fixed;
        top: 1.25vh;
        right: 97vw;
        z-index: 102;
    }

    #sidebar.active .btn {
        position: fixed;
        right: 12vw;
        top: 1.25vh;
    }

    #sidebar.active span {
        background:#90d4a1;
    }

    /* INDEX */

    .background {
        position: absolute;
        display: flex;
        background-image: url(images/background.jpg);
        width: 100vw;
        height: 100vh;
        top: 7vh;
        background-repeat: no-repeat;
        overflow:hidden;
    }

    /* LISTING */

    main {
        overflow: hidden;
        margin-top: 10vh;
    }

    #listing {
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(13, 32vw);
    }
    .article {
        width: 17vw;
        margin-top: -5vh;
    }

    .article img{
        width: 22vw;
        POSITION: absolute;
        left: -9vw;
    }

    .infos {
        justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    top: 21vh;
    position: relative;
    }

    .infos p {
    position: relative;
    margin-top: 1vh;
    left: 4.5vw;
    height: 2vh;
    text-align: left;
    font-size: 1vw;
    }

    .article:nth-child(odd) {
        position: relative;
        grid-column: auto;
        margin-right: 20vw;
    }

    .article:nth-child(even) {
        position: relative;
        grid-column: auto;
        margin-right: 20vw;
    }

    .infos h3 {
        position: absolute;
        margin-top: auto;
        font-size: 1vw;
        top: 0vh;
        left:18.5vw;
    }

    /* PAGE RECHERCHE */

    #search {
        margin-bottom: 5vh;
    }

    #search input {
        width: 15vw;
        font-size: 1vw;
    }

    #prix {
        margin-bottom: 5vh;
    }

    #prix input {
        margin-bottom: 2vh;
        width: 10vw;
        font-size: 1vw;
    }

    form {
        font-size: 1vw;
    }

    input[type="text"] {
        width: 10vw;
    }

    #filtres {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20vw;
    }

    #formcolor {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

    #formcolor label {
        font-size: 1.5vw;
    }

    #colorpicker {
        width: 10vw;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        left: 0vw;
    }

    #colorpicker input {
        position: relative;
        left: -1vw;
        margin-left: 1vw;
        width: 1.5vw;
        height: 1.5vw;
    }

    #colorpicker img {
        width: 4vw;
        padding: 1vw;
        border-radius: 30vw;
    }

    .color {
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
    }

    .color input {
        margin: 1vw;
    }

    .color:nth-child(1) {
        background-image: url("couleurs/beige.jpg");
    }

    .color:nth-child(2) {
        background-image: url("couleurs/blanc.jpg");
    }

    .color:nth-child(3) {
        background-image: url("couleurs/bleuciel.jpg");
    }

    .color:nth-child(4) {
        background-image: url("couleurs/gris.jpg");
    }

    .color:nth-child(5) {
        background-image: url("couleurs/jaune.jpg");
    }
    
    .color:nth-child(6) {
        background-image: url("couleurs/lilas.jpg");
    }

    .color:nth-child(7) {
        background-image: url("couleurs/navy.jpg");
    }
    


    
    .color:checked {
        box-shadow: #90d4a1 0px 5px 10px;
        transition: 0.2s;
    }

    .department {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: left;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
    }
    
    .department:checked {
        background-color: #90d4a1;
        transition:0.2s;
    }

    #formcategory {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

    label {
        font-size: 1.5vw;
    }

    .categoryrow {
        display: flex;
        text-align: left;
        justify-content:start;
        align-items: center;
        width: 10vw;
        left: 0vw;
        margin-top: 4vh;
    }

    .categoryrow label{
        margin-left: 0.5vw;
        margin-bottom: -4.5vh;
        font-size: 1vw;
    }

    .categoryrow input {
        width: 1vw;
        height: 1vw;
    }
    

    #formsize {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

}